---
import PageLayout from "@layouts/PageLayout.astro";
import Posts from "@components/page/Posts.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .reverse()
  .filter((entry) => !Boolean(entry.data?.draft));
---

<PageLayout title="Posts">
  <div class="w-full border-b border-b-gray-900 dark:border-b-gray-300 text-gray-700 dark:text-gray-300 text-center pb-4 mb-8">
    <h1 class="text-6xl">Posts</h1>
  </div>

  <Posts posts={posts} />
</PageLayout>
