---
import { getEntryBySlug } from "astro:content";
import { getCollection } from "astro:content";
import FrontPageLayout from "@layouts/FrontPageLayout.astro";
import Posts from "@components/page/Posts";

const title = "Home";
const latestPosts = (await getCollection("posts"))
  .slice(-3)
  .reverse()
  .filter((entry) => !Boolean(entry.data?.draft));
---

<FrontPageLayout {title}>
  <div class="my-10">
    <h1 class="text-4xl md:text-6xl">Latest Posts</h1>
  </div>

  <Posts posts={latestPosts} />
</FrontPageLayout>
