---
import FrontPageLayout from "@layouts/FrontPageLayout.astro";
import Posts from "@components/page/Posts";

const title = "Home";
const latestPosts = (await Astro.glob("./posts/*.mdx")).reverse().slice(0, 3);
---

<FrontPageLayout {title}>
  <div class="my-10">
    <h1 class="text-4xl md:text-6xl">Latest Posts</h1>
  </div>

  <Posts posts={latestPosts} />
</FrontPageLayout>
