---
const currentYear = new Date(Date.now()).getFullYear();
---

<div class="frontpage-divider"></div>

<div class="app-footer flex justify-center items-center px-4">
  <span>
    2020 - {currentYear} Arnold Chand (creativenull) | Built with

    <a
      href="https://astro.build"
      target="_blank"
      class="text-blue-700 font-bold underline hover:no-underline dark:text-blue-500"
    >
      Astro
    </a>
    +
    <a
      href="https://alpinejs.dev"
      target="_blank"
      class="text-blue-700 font-bold underline hover:no-underline dark:text-blue-500"
    >
      Alpinejs
    </a>
  </span>
</div>

<style is:global>
  .app-footer {
    height: 100px;
  }

  .frontpage-divider {
    height: 1px;
    background-image: linear-gradient(to left, transparent, #4a4a4a 50%, transparent);
  }
</style>
