<div>
  <a
    href="https://astro.build"
    target="_blank"
    class="text-blue-700 font-bold underline hover:no-underline dark:text-blue-500"
  >
    astro.build
  </a>
  +
  <a
    href="https://alpinejs.dev"
    target="_blank"
    class="text-blue-700 font-bold underline hover:no-underline dark:text-blue-500"
  >
    alpinejs.dev
  </a>
  +
  <a
    href="https://unocss.dev"
    target="_blank"
    class="text-blue-700 font-bold underline hover:no-underline dark:text-blue-500"
  >
    unocss.dev
  </a>
  &equals; ♥
</div>
