---
import AppFooterSocials from "./AppFooterSocials.astro";
import AppFooterCredits from "./AppFooterCredits.astro";

const currentYear = new Date(Date.now()).getFullYear();
---

<div class="frontpage-divider h-[1px]"></div>

<div class="h-[100px] flex flex-col justify-center items-center gap-2 px-4">
  <div class="flex gap-2">
    <span>
      2020 - {currentYear} Arnold Chand (creativenull)
    </span>

    <AppFooterSocials />
  </div>

  <AppFooterCredits />
</div>

<style is:global>
  .frontpage-divider {
    background-image: linear-gradient(to left, transparent, #4a4a4a 50%, transparent);
  }
</style>
