---
import AppDarkMode from "./AppDarkMode"

let links = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/posts",
    name: "Posts",
  },
  {
    href: "https://github.com/creativenull",
    name: "Github",
  },
];
---

<div class="app-header text-light-50 bg-blue-900 h-20 w-full flex items-center justify-between">
  <nav>
    {links.map((link) => (
      <a class="text-xl font-bold px-4 py-6 transition-all duration-300 hover:(bg-light-50 text-dark-700)" href={link.href}>
        {link.name}
      </a>
    ))}
  </nav>

  <div class="pr-4">
    <AppDarkMode client:load />
  </div>
</div>
