---
import AppLogo from "./AppLogo.astro";
---

<div class="app-header text-light-50 bg-dark-800 h-14 md:h-20 w-full flex items-center justify-between">
  <div class="flex h-full space-x-4 pl-4">
    <AppLogo />
    <nav class="h-full flex items-center justify-center md:text-xl">
      <a
        target="_blank"
        class="h-full flex items-center justify-center font-bold transition-all duration-300 px-4 hover:(bg-light-50 text-dark-700)"
        href="https://github.com/creativenull"
      >
        GitHub
      </a>
    </nav>
  </div>

  <div class="pr-4">
    <button
      x-data="{ darkMode: $persist(true), updateDocument() { this.darkMode ? document.documentElement.classList.add('dark') : document.documentElement.classList.remove('dark') } }"
      x-init="updateDocument()"
      @click="darkMode = !darkMode; updateDocument()"
      class="p-2 text-light-50 text-xl hover:text-sky-500"
    >
      <i class="fa-solid" :class="{ 'fa-sun': darkMode, 'fa-moon': !darkMode }"></i>
    </button>
  </div>
</div>
