---
import AppDarkMode from "./AppDarkMode";

let links = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/posts",
    name: "Posts",
  },
  {
    href: "https://github.com/creativenull",
    name: "Github",
  },
];
---

<div class="app-header text-light-50 bg-blue-900 h-20 w-full flex items-center justify-between">
  <nav class="h-full flex items-center justify-center">
    {
      links.map((link) => (
        <a
          class="h-full flex items-center justify-center text-xl font-bold transition-all duration-300 px-4 hover:(bg-light-50 text-dark-700)"
          href={link.href}
        >
          {link.name}
        </a>
      ))
    }
  </nav>

  <div class="pr-4">
    <AppDarkMode client:load />
  </div>
</div>
