---
import { config } from "@config";
---

<a
  x-data="{ toggleColors: false }"
  @mouseenter="toggleColors = !toggleColors"
  @mouseleave="toggleColors = !toggleColors"
  href={config.siteUrl}
  class="font-righteous flex md:text-2xl items-center"
>
  <span
    id="app-logo-primary"
    class="transition-color duration-500"
    :class="{ 'text-light-900': !toggleColors, 'text-blue-600': toggleColors }"
  >
    {config.siteBannerConfig.primaryTitleText}
  </span>
  <span
    id="app-logo-secondary"
    class="transition-color duration-500"
    :class="{ 'text-light-900': toggleColors, 'text-blue-600': !toggleColors }"
  >
    {config.siteBannerConfig.secondaryTitleText}
  </span>
</a>
