---
type TipType = "note" | "warning" | "outdated";
type Props = { type: TipType };

const { type = "note" } = Astro.props;

function variant(t: TipType) {
  switch (t) {
    case "outdated":
      return "border-l-red-500 dark:border-l-red-800";
    case "warning":
      return "border-l-amber-500 dark:border-l-amber-800";
    case "note":
    default:
      return "border-l-emerald-500 dark:border-l-emerald-800";
  }
}

function textColor(t: TipType) {
  switch (t) {
    case "outdated":
      return "text-red-500 dark:text-red-800";
    case "warning":
      return "text-amber-500 dark:text-amber-900";
    case "note":
    default:
      return "text-emerald-500 dark:text-emerald-800";
  }
}
---

<div class={`${variant(type)} border-l border-l-10 py-2 px-2 md:my-8`}>
  <h4 class={`${textColor(type)} capitalize m-0`}>
    {type}
  </h4>
  <div class="text-xs md:text-base">
    <slot />
  </div>
</div>
