---
import BaseLayout from "@layouts/BaseLayout.astro";
import AppHeader from "@components/AppHeader.astro";
import AppFooter from "@components/AppFooter.astro";
import { DarkModeProvider } from "../store/darkmode"

export interface FrontPageProps {
  title: string;
}

const { title } = Astro.props as FrontPageProps;
---

<BaseLayout {title}>
  <div class="min-h-screen">
    <DarkModeProvider client:load>
      <AppHeader />
    </DarkModeProvider>

    <div class="px-4 py-4 mx-auto md:(w-3/4 px-0 py-6) lg:w-1/2">
      <slot />
    </div>
  </div>

  <AppFooter />
</BaseLayout>
