---
import AppHeader from "@components/AppHeader.astro";
import AppFooter from "@components/AppFooter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { config } from "@config";

const { content } = Astro.props;

function publishDate(date: Date) {
  return new Date(date).toLocaleDateString("en-TT", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
}
---

<BaseLayout title={content.title}>
  <div class="min-h-screen">
    <AppHeader />

    <h1
      class="text-2xl sm:(text-3xl w-3/4 mb-10 px-0 mx-auto) lg:(text-4xl w-1/2) font-bold text-center border-b border-b-gray-400 dark:border-b-gray-800 py-4 mb-4 mx-4"
    >
      {content.title}
    </h1>

    <div class="prose dark:prose-invert mx-auto px-4 pb-8 sm:(px-0 text-lg)">
      <slot />

      <div class="not-prose text-xs border-t border-t-gray-400 dark:border-t-gray-800 pt-8">
        Published on {publishDate(content.date)}
      </div>
    </div>
  </div>

  <AppFooter />
</BaseLayout>
