---
import AppHeader from "@components/AppHeader.astro";
import AppFooter from "@components/AppFooter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { config } from "@config";

const { content } = Astro.props;
---

<BaseLayout title={content.title}>
  <div class="min-h-screen">
    <AppHeader />

    <h1
      class="text-2xl sm:(text-3xl w-3/4 mb-10 px-0 mx-auto) lg:(text-4xl w-1/2) font-bold text-center border-b border-b-gray-400 dark:border-b-gray-800 py-4 mb-4 mx-4"
    >
      {content.title}
    </h1>

    <div class="prose dark:prose-invert mx-auto px-4 sm:px-0">
      <div class="text-xs italic">
        Posted on {content.date} by {config.author}
      </div>

      <slot />
    </div>
  </div>

  <AppFooter />
</BaseLayout>
