---
import AppHeader from "@components/AppHeader.astro";
import AppFooter from "@components/AppFooter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { DarkModeProvider } from "../store/darkmode";

const { content } = Astro.props;
---

<BaseLayout title={content.title}>
  <div class="min-h-screen">
    <DarkModeProvider client:load>
      <AppHeader />
    </DarkModeProvider>

    <h1 class="text-3xl px-4 my-10 md:(text-6xl text-center my-12) lg:(w-3/4 mx-auto)">
      {content.title}
    </h1>

    <div class="prose dark:prose-invert px-4 pb-4 mx-auto md:(w-3/4 px-0 pb-6 text-lg) lg:(w-1/2)">
      <slot />
    </div>
  </div>

  <AppFooter />
</BaseLayout>
